---
layout: default
---

  {% include page-intro.html %}

  {{ content }}

  <section>

    <h3>Recent posts from the blog</h3>

    <ul>
      {% for post in site.posts limit:3 %}
        <li>
          <a href="{{ post.url }}">{{ post.title }}</a>
        </li>
      {% endfor %}
    </ul>

  </section>

<center>
<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-3269987799484354"
     crossorigin="anonymous"></script>
<!-- Google Sites -->
<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-3269987799484354"
     data-ad-slot="4879018559"
     data-ad-format="auto"
     data-full-width-responsive="true"></ins>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({});
</script>
</center>
